<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <!-- scope singleton ist standard dh jede person referenziert auf das gleiche bean objekt und alle haben die selben werte -->
       <bean id="Person" class ="Person" scope="prototype" init-method="onCreate" destroy-method="onDestroy" autowire="byName">
              <constructor-arg name="id" value="777"></constructor-arg>
              <constructor-arg name="name" value="Mary"></constructor-arg>

              <!-- <property name="taxId" value="123"></property> -->
              <property name="taxId">
                     <value>909000</value>
              </property>
              <property name="address" ref="address1"></property>
       </bean>

       <bean id="address1" class="Address">
              <constructor-arg name="street"><value>Church Street 5</value></constructor-arg>
              <constructor-arg name="postcode"><value>12345</value></constructor-arg>
       </bean>

</beans>